<div class="project">
  <h3><%= project.title %></h3>
  <span id="authors"><%= project.students.collect{|s| s.name}.join(', ') %></span><br>
  <span id="desc"><%= project.description %></span><br>
  <% unless project.repo_url.nil? %>
  <%= link_to "Repo", project.repo_url %>
  <% end %>
  <%= link_to 'Modify', edit_project_path(project) %>
</div><br>
